body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 540px;
    background: #eeeeee;
    font-size: 12px;
    font-family: -apple-system,Helvetica,sans-serif Microsoft YaHei;
    line-height: 1;
    color: #666;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    scroll-behavior:smooth
}
html{
    font-size: 13.333333vw;
    overflow-x: hidden;
    scroll-behavior:smooth
}
@media screen and (max-width:320px){
    
    html{
        font-size: 43px!important;
    }
}

@media screen and (min-width:540px){
    html{
        font-size: 72px!important;
    }
}
* {touch-action: pan-y;}

.clearfix::after,.clearfix::before {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.elli{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.linkActive{*/
/*    color: red!important;*/
/*}*/
.musk{
    position: fixed;
    width: 7.5rem;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}